
.header {
  padding: 2px 0;
  text-align: center;
  background: rgb(78, 76, 76);
  color : white;
  display: flex;
  align-content: flex-end;
  font-family: 'Times New Roman', Times, serif;
}

#logo{

  margin-left: 1em;
  font-size: 30px;;

}

#login{

  margin-left: auto;
  margin-right: 2em;
}

.countdownTimer{


  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 2px solid gray;
  border-radius: 2em;
  width: fit-content;
  padding: 20px;
  margin : 20px;
  background-color: rgb(206, 188, 188);
}
#timer{
  position: relative;
  left: 40%;
  font-size: 20px;
}

.userContainer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid grey;
    border-radius: 2em;
    width:fit-content;
    background-color: rgb(206, 188, 188);
    margin : 20px;
}

input[type=text]{
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.parentDiv{
  display: flex;
  margin: 30px;
}



