.App{
  background-color: rgb(201, 197, 197);
}
nav #logo{
  color: white;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
}

.countdownTimer{


  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 2px solid gray;
  border-radius: 2em;
  width: fit-content;
  padding: 20px;
  margin : 20px;
  background-color: rgb(255, 255, 255);
}
#timer{
  position: relative;
  left: 40%;
  font-size: 20px;
}

.userContainer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid grey;
    border-radius: 2em;
    width:fit-content;
    background-color: rgb(255, 255, 255);
    margin : 20px;
}

input[type=text]{
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.parentDiv{
  margin-top: 50px;
  display: flex;
 
}

.navbar-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  width: 100%;
}

.logout-button{
  justify-content: space-between;
  
}


